/*


basis   */
* {
  font-family: Tahoma, sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

h1,
h2 {
  padding: 1rem 5%;
}

h1 {
  font-size: 2.5rem;
  transition: 0.3s text-shadow;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 25px;
}

p {
  font-size: 1.5rem;
  padding: 0.8em 1em;
  margin: 0em 1em;
}

/* body content */

/* 

nav */
nav {
  padding: 1em;
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 3px solid rgb(190, 190, 190);

  justify-content: center;
  padding: 0;

  z-index: 5;
}

#logo {
  height: 100px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  user-select: none;
}

nav ul {
  display: flex;
  margin: 16px 0px;
}

nav ul a {
  list-style: none;
  margin: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.5em;
  transition: 0.5s background-color;
  font-size: 16px;
}

nav ul a:hover {
  background-color: rgb(223, 223, 223);
  color: rgb(0, 0, 0);
}

/* Kontakt Element */
#navel {
  margin-left: auto;
  margin: auto 1em auto auto;
  transition: 0.5s background-color;
  cursor: pointer;
  padding: 0.5em;
}

#navel:hover {
  background-color: rgb(223, 223, 223);
  color: rgb(0, 0, 0);
}

#navel p {
  font-size: 16px;
  margin: 0;
  padding: 0;
  transition: 0.5s background-color;
}

.nava {
  color: black;
  text-decoration: none;
}

#menü {
  display: none;
}

.show {
  display: flex !important;
}

/* 

header */
header h1 {
  font-size: 5em;
  margin-top: 70px;
}

header p {
  font-size: 4em;
  margin: 0;
}

header {
  text-shadow: 0px 0px 10px black;

  background-image: url(/Bilder/Sonne.jpg);
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 32cqmax;
  color: white;
}

/* 

main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#secTwo,
#secThree {
  border-top: 4px solid rgb(235, 235, 235);
}

#secOne {
  width: 70%;
  margin-bottom: 50px;
  align-items: start;
}

#secTwo {
  padding-top: 50px;
}

#secThree {
  padding: 50px 0px;
}

#a1 {
  margin-top: 30px;
  margin-right: auto;
  padding-left: 45px;
  scroll-snap-align: start;
  scroll-margin-top: 106px;
}

#a2 {
  scroll-snap-align: start;
  scroll-margin-top: 106px;
}

#a3 {
  scroll-snap-align: start;
  scroll-margin-top: 106px;
}

/* Projekte style */

#Projekt-note {
  font-size: 22px;
  margin: 0px 50px 0px 50px;
}

#projekt-ul {
  width: 98%;

  padding-bottom: 30px;
  /* margin-right: 30px;
  margin-left: 30px; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.projekt-item {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;

  background-color: rgb(240, 240, 240);
}

.projekt-item:hover {
  background-color: rgb(218, 218, 218);

  transition: 0.5s;
  box-shadow: 5px 5px 10px rgb(187, 187, 187);
}

#projekt-ul div h3 {
  margin-top: 50px;
  font-size: 25px;
  text-decoration: underline;
  padding: 10px;

  border-radius: 5px;

  color: rgb(255, 255, 255);
  background-color: rgb(119, 119, 119);
}

#projekt-ul div h3:hover {
  transition: 0.3s;
  background-color: rgb(85, 85, 85);
}

#projekt-ul > div > p {
  font-size: 20px;
  user-select: none;
}

#projekt-ul div p img {
  width: 15px;
  margin-top: 10px;
  margin-bottom: -1px;
  margin-left: 5px;
  transform: rotate(-90deg);
  transition: 0.3s;
}

.Projekt-link {
  text-decoration: none;
  color: black;
}

.drehen {
  transform: rotate(0deg);
}

.p-img {
  padding-bottom: 0;
}

.beschreibung {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-size: 18px;
}

.grid-beschreibung {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.5s;
  margin: 25px 50px 50px 50px;
}

.grid-info {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.5s;
  margin: 25px 50px 50px 50px;
}

.info {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
}

.info h4 {
  background-color: rgb(92, 92, 92);
  border-radius: 10px;
  margin: 30px 0px 10px 0;
  color: white;
  padding: 10px;
}

.aktiv-info {
  padding: 13px;
  margin-top: 0;
  border: solid 2px rgb(87, 87, 87);
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  min-width: 230px;
  cursor: pointer;
  transition: 0.3s background-color;
}

.aktiv-info:hover {
  background-color: rgb(219, 219, 219);
}

.info-pfeil {
  width: 15px;
  margin-top: 10px;
  margin-bottom: -1px;
  margin-left: 5px;
  transform: rotate(-90deg);
  transition: 0.3s;
  position: relative;
}

#lorem-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

/* icon style */
.all-skills {
  width: 75px;
  margin: 1.5%;
}

#skills div {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1.5%;
}

#skills div p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-weight: 600;
  user-select: text;
}

#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  user-select: none;
}

/* 

footer */
footer {
  margin: 20px 0 0 0;
  border-top: 4px solid rgb(235, 235, 235);
}

footer p {
  font-size: 1.1em;
}

/* 

media screen 1 */
@media screen and (max-width: 1400px) {
  header h1 {
    font-size: 4rem;
    margin-top: 0px;
  }

  header p {
    font-size: 3rem;
  }
  #Projekt-note {
    margin: 10px;
  }

  #lorem-content {
    margin: 10px;
  }
}

@media screen and (max-width: 1000px) {
  header h1 {
    font-size: 3.5rem;
  }

  header p {
    font-size: 2.5rem;
  }

  #secOne {
    width: 90%;
  }

  #projekt-ul {
    grid-template-columns: repeat(2, 1fr);
  }

  #Projekt-note {
    margin: 10px;
  }

  #lorem-content {
    margin: 10px;
  }
}

/* media 2 */
@media screen and (max-width: 840px) {
  header h1 {
    font-size: 3rem;
  }

  header p {
    font-size: 2rem;
  }

  #lorem-content {
    flex-direction: column;
    gap: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }

  #Projekt-note {
    padding: 0px;
    margin-bottom: 30px;
  }
}

/* media 3 */
@media screen and (max-width: 700px) {
  header {
    height: 20rem;
    background-size: cover;
  }
  nav {
    padding-left: 0;
    margin-left: 0;
  }

  nav ul {
    padding: 0;
    margin-left: 0.1;
  }

  header h1 {
    font-size: 2.5rem;
  }

  header p {
    font-size: 1.5rem;
  }

  #secOne {
    width: 100%;
  }

  #projekt-ul {
    grid-template-columns: repeat(1, 0.98fr);
  }
}

@media screen and (max-width: 530px) {
  #menü {
    transition: 0.5s;
    padding: 10px 40px;
    display: block;
    margin-bottom: 10px;
  }

  #skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logo {
    margin: 0;
    height: 80px;
  }

  #menü:hover {
    background-color: rgb(223, 223, 223);
  }
  #navel,
  nav ul {
    display: none;
  }

  nav ul {
    position: sticky;
    top: 0;
    background-color: white;
    margin-bottom: 0;
    margin-top: 0;
    transition: 1s;
  }

  nav ul li {
    margin-bottom: 8px;
  }

  nav ul li,
  #navel {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
  }
  nav ul a {
    padding: 0;
    margin: 8px;
  }

  nav,
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  #navel {
    margin: 0.5em;
    margin-top: 0;
  }

  #secOne p {
    font-size: 1.4em;
  }

  #a1 {
    scroll-margin-top: 175px;
  }

  #a2 {
    scroll-margin-top: 175px;
  }

  #a3 {
    scroll-margin-top: 175px;
  }

  .grid-info {
    width: 100%;
  }

  .grid-info h4 {
    font-size: 22px;
  }
  .grid-info p {
    font-size: 1.3rem;
    margin: 15px;
    padding: 5px;
  }
}

/* Kontakt Seite */

#header-kontakt {
  background-image: none;
  color: black;
  text-shadow: none;
  height: 50%;
  margin: 0;
  padding: 0;
}

#header-kontakt h1 {
  font-size: 3em;
  margin-right: 0;
  margin-left: 0;
}

#header-kontakt p {
  font-size: 2em;
}

#main-kontakt {
  display: flex;
  width: 100%;
  flex-direction: row;
}

#main-kontakt img {
  width: 50px;
  margin-right: 20px;
  cursor: pointer;
}

#kontakt-small-note {
  display: flex;
  justify-content: center;
}

/* .kontakt-nav-ul {
  margin-right: auto;
} */

#kontakt-nav {
  justify-content: start;
}

@media screen and (max-width: 600px) {
  #header-kontakt h1 {
    font-size: 1.5em;
  }

  #header-kontakt p {
    font-size: 1.5em;
  }
}
