label {
  display: block;
  cursor: pointer;
  flex: 0 0 7rem;
}

form > div {
  margin-bottom: 1em;
  display: flex;
  flex-flow: wrap;
}

.kontaktformular input[type="text"],
.kontaktformular input[type="email"],
.kontaktformular textarea {
  width: 16rem;
  padding: 0.25rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  flex: 1;
}

.kontaktformular textarea {
  max-width: 100%;
  min-height: 8rem;
}

.kontaktformular button {
  font-size: inherit;
  font-family: inherit;
  letter-spacing: 1px;
  cursor: pointer;

  background: #0b74b8;
  color: white;

  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  flex: 1;
}

.kontaktformular button:hover,
.kontaktformular button:focus {
  background: #f5662e;
}

.kontaktformular button:active {
  background: #d90000;
}

/* Ende @media */
